<p></p>
<%= simple_form_for(@book) do |form| %>

  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@book.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.label :title%>
  <p></p>
    <%= form.input_field :name, input_html: { maxlength: 30 } %>
  <p></p>
    <%= form.label :author%>
  <p></p>
    <%= form.input_field :author %>
  <p></p>
    <%= form.label :pages%>
  <p></p>
    <%= form.input_field :pages,  as: :decimal %>
  <p></p>
    <%= form.label :price%>
  <p></p>
    <%= form.input_field :price, as: :decimal %>
  <p></p>
    <%= form.button :submit %>
  <p class="blog-post-meta">
<% end %>
<p class="blog-post-meta">